NEXT_PUBLIC_FINORYA_URL=http://127.0.0.1:5180
NEXT_PUBLIC_AJUDANTE_URL=http://127.0.0.1:5173

# Set true in Cloudflare Pages and publish out/.
CENTRAL_STATIC_EXPORT=false
# Production build:
# NEXT_PUBLIC_FINORYA_URL=https://finorya.centralsimples.com.br
# NEXT_PUBLIC_AJUDANTE_URL=https://ajudante.centralsimples.com.br
